.anime-wrapper {
    position: relative;
    border-radius: 32px;
    min-width: 240px;
    max-width: 340px;
    height: 420px;
    opacity: 0;
    scale: 1.1;
    transform: translateY(100px);
    transition:
        opacity 0.9s,
        scale 0.9s,
        transform 0.9s;
    flex: 1;

    &.small {
        min-width: 160px;
        max-width: 160px;
        height: 240px;

        p {
            font-size: 12px;
        }

        .title {
            font-size: 16px;
        }

        .anime-rating {
            scale: 0.6;
            top: 8px;
            right: -4px;
        }

        .anime-text {
            margin-top: 8px;
        }

        &:hover {
            scale: 1;
            transform: translateY(0);
        }

        .anime-content-container {
            padding: 16px;
            height: calc(100% - 32px);
        }
    }

    &.visible {
        opacity: 1;
        scale: 1;
        transform: translateY(0);
    }

    .anime-poster,
    .anime-blurred {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }

    .anime-blurred {
        border-radius: 32px;
        filter: blur(24px);
        opacity: 0.6;
        height: 100%;
        width: 100%;
        transition: opacity 0.3s;
    }

    &.faster {
        transition:
            opacity 0.3s,
            scale 0.3s ease,
            transform 0.3s ease;
    }

    &:hover {
        scale: 1.05;
        z-index: 2;
        transform: translateY(-10px);

        .anime-blurred {
            opacity: 0;
        }

        .anime-card {
            background-color: rgba(0, 0, 0, 0.7);

            .anime-content-container {
                opacity: 1;
                transform: translateY(0);
            }
        }
    }
}

.anime-card {
    border-radius: 32px;
    height: 100%;
    width: 100%;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    transition: background-color 0.3s;

    .anime-content-container {
        padding: 32px;
        opacity: 0;
        transform: translateY(60px);
        transition:
            opacity 0.3s,
            transform 0.3s;
        height: calc(100% - 64px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .anime-logo {
        width: 100%;
        max-height: 140px;
        object-fit: contain;
    }

    p {
        font-size: 18px;
        margin: 5px 0;
    }

    .anime-text {
        margin-top: 16px;
    }

    .title {
        margin: 0;
        font-size: 32px;
        font-weight: 900;
    }
}

@media (max-width: 768px) {
    .anime-wrapper {
        min-width: 140px;
        max-width: 200px;
        height: 220px;

        &.small {
            min-width: 120px;
            max-width: 120px;
            height: 180px;
        }

        .title {
            font-size: 14px;
        }
    }
}