@import 'Variables';

.auth-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    max-width: calc(100% - 64px);
    opacity: 1;
    transition:
        opacity 0.6s ease-in-out,
        transform 0.6s ease-in-out;

    form {
        width: 400px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        gap: 32px;

        .logo {
            width: 220px;
            max-width: 100%;
            cursor: pointer;
        }

        .move-button,
        button,
        input {
            font-family: $font-stack;
            font-weight: 700;
            font-size: 16px;
            height: 48px;
            width: 100%;
            border-radius: 16px;
            text-align: center;
            border: none;
            transition:
                color 0.3s,
                background-color 0.3s;
        }

        input {
            background: transparent;
            color: white;
            outline: rgba(238, 238, 238, 0.4) solid 2px;
        }

        .move-button {
            background-color: rgba(238, 238, 238, 0.15);
            color: white;
        }

        .move-button:hover {
            background-color: rgba(255, 255, 255, 0.3);
        }

        button {
            cursor: pointer;
        }
    }
}