@import 'Variables';

header {
    position: sticky;
    top: 0;
    z-index: 19;
    transform: translateY(-64px);
    opacity: 0;
    transition:
        transform 0.6s ease-in-out,
        opacity 0.6s ease-in-out;

    &.active {
        transform: translateY(0);
        opacity: 1;
    }

    .header-back {
        padding: 16px 0;
        width: 100%;
        background: linear-gradient(
            rgba(20, 20, 20, 0.8),
            rgba(30, 30, 30, 0.8)
        );
        backdrop-filter: blur(20px);
        outline: rgba(0, 0, 0, 0) solid 2px;
        transition:
            box-shadow 0.3s,
            outline 0.3s;
    }

    .header-align {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
    }

    .scrolled {
        outline: rgba(238, 238, 238, 0.15) solid 2px;
        box-shadow: 0 0 48px rgba(0, 0, 0, 0.3);
    }

    .logo {
        height: 48px;
        cursor: pointer;
    }
}

@media (max-width: 900px) {
    header {
        .logo {
            height: 32px;
        }
    }
}