@import 'Variables';

body {
    background: #1e1e1e;
    font-family: $font-stack;
    color: #fff;
    padding: 0;
    margin: 0;
    min-height: 100vh;
    transition:
        transform 0.6s ease-in-out,
        opacity 0.6s ease-in-out;

    &.closing {
        opacity: 0;
        transform: translateY(-200px);
    }

    &.scroll {
        transition: transform 0s;
        transform: translateY(200px);
    }
}

.button {
    padding: 8px 32px;
}

.standard-input {
    background-color: rgba(238, 238, 238, 0.15);
    outline: none;
    border: none;
    height: 48px;
    border-radius: 16px;
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    font-family: $font-stack;
    transition:
        background-color 0.3s,
        color 0.3s;
    cursor: pointer;
}

.standard-input:hover {
    background-color: rgba(238, 238, 238, 0.3);
}

.image-button:hover,
.button:hover {
    background-color: rgba(238, 238, 238, 1);
    color: black;
}

.container {
    width: 1400px;
    max-width: calc(100% - 64px);
}

.button-icon {
    width: 20px;
    transition:
        filter 0.3s,
        transform 0.3s;
}

.reflect {
    transform: scaleY(-1);
}

.image-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.button.active,
.image-button.active {
    background-color: rgba(238, 238, 238, 1);
    color: black;

    .button-icon {
        filter: invert(1);
    }
}

.image-button:hover .button-icon {
    filter: invert(1);
}

.textarea {
    resize: none;
    height: 64px;
    border-radius: 16px;
    padding: 8px;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type='number'] {
    -moz-appearance: textfield;
}

.overlay {
    background-color: rgba(30, 30, 30, 0.7);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 20;
    backdrop-filter: blur(60px);
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.overlay.active {
    pointer-events: auto;
    opacity: 1;
}

.buttons-container {
    display: flex;
    gap: 16px;
}

button,
textarea {
    font-family: $font-stack;
}