.message {
    position: absolute;
    bottom: 0;
    left: 50%;
    background-color: rgba(255, 255, 255, 0.15);
    padding: 16px 64px;
    border-radius: 48px;
    user-select: none;
    font-weight: 600;
    font-size: 16px;
    opacity: 0;
    text-align: center;
    width: max-content;
    max-width: calc(100vw - 64px);
    transform: translateX(-50%) translateY(64px);
    transition:
        transform 0.3s,
        opacity 0.3s;

    &.active {
        opacity: 1;
        transform: translateX(-50%);
    }

    &.error {
        color: #ffffff;
        background-color: #aa0000;
    }

    &.success {
        color: #ffffff;
        background-color: #228e01;
    }
}