.sort-container {
    position: relative;

    .sort-button {
        position: relative;
        width: 210px;
        z-index: 13;
        justify-content: center;
    }

    .sort-menu.active {
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto;
    }

    .sort-menu {
        position: absolute;
        top: 64px;
        left: 0;
        width: calc(100% - 32px);
        background: rgba(30, 30, 30, 0.8);
        backdrop-filter: blur(20px);
        outline: rgba(238, 238, 238, 0.15) solid 2px;
        padding: 16px;
        border-radius: 28px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        gap: 12px;
        z-index: 10;
        opacity: 0;
        transform: translateY(-64px);
        pointer-events: none;
        transition:
            opacity 0.3s ease-in-out,
            transform 0.3s ease-in-out;

        .sort-item {
            min-height: 40px;
            padding: 0;
            flex: 1;
            gap: 2px;
        }

        .direction-image {
            height: 16px;
        }
    }
}

@media (max-width: 768px) {
    .sort-container {
        .sort-button {
            width: 180px;
        }
    }
}